<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="cUSfhEcvcTWVKAy5OfUc1+rVSNzyXAeA50IrXT5ISAM=" value="OIQyMgq51//JSrMoMyriAJLX1DPxVh6Zt4Q8Ey4/TsyGDRONjwK8JFusMhQH+Gw2cq7eiYcZLboYb+PgZ8P3Ug=="/>
  </appSettings>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="CloudContactDA.UserInfoDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="CloudContactContract.IUserInfo"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
<!--ei37y237ey2u3te2ur2!@#RTHY^&*fghfth*(DFGgrtujI&*9&THYhrtGWER34r3
wydzh!!@#!@$#$^$GTRGHTYHU&IAppDomainSetup&*YJTlskdjfsdkjxc@#8786-->