<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <!--<compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />-->
      <customErrors mode="Off"/>
      
    </system.web>
  <appSettings>
    <!--192.168.1.105-->
    <!--<add key="cUSfhEcvcTWVKAy5OfUc1+rVSNzyXAeA50IrXT5ISAM=" value="DDCSP85auzqTrlTE8nayYI06JxxRO82F2tXK34TkPCX6AjVgVrlygWOGEDd8XVbHlT2jUkQIsBwNLGAZoLkqFJ/9thiXD5yYEugWm9OLfns="/>-->
    <!--192.168.1.102-->
    <!--<add key="cUSfhEcvcTWVKAy5OfUc1+rVSNzyXAeA50IrXT5ISAM=" value="DDCSP85auzqTrlTE8nayYEpQbuFccGyJPTkfwIuyZ71rq1n1hni285rF9EsV5s9DXdUfH+Uh2sOcqWBYUAiBpNO+6CGJVXphZkL0hMNhS7U="/>-->
    <!--62.zqname.info-->
    <!--<add key="cUSfhEcvcTWVKAy5OfUc1+rVSNzyXAeA50IrXT5ISAM=" value="UK9SbShM7ZfvqLa0O7hFgD8J09plgTzIfzHHR3k7xWmciqlb/+G9nvf4izzor5UtXtX8GKG3e3Dd+T1bEnYly4sfkySb12ipMhXt3wPrWmzeAQ2kILr4jEZmqyV2PT7X"/>-->
    <!--[localhost]server-->
    <add key="cUSfhEcvcTWVKAy5OfUc1+rVSNzyXAeA50IrXT5ISAM=" value="f8NXaB77lF6XmELo3JfMbDwUBHBvUKIb1dnF77tHhXxL4G7KvxMfV+aeV9InFUavYyE6t7f+Nmsk3kl5gFkTA28LY0lxXAvZMTvx4RKogJw="/>
  </appSettings>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="TrafficViolationDA.SCDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="TrafficViolationContract.ISC"/>
      </service>
      <service behaviorConfiguration="myBehavior" name="TrafficViolationDA.TestDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="TrafficViolationContract.ITest"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
